
<div class="row">
  <div class="span4 offset4 well">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

      <div><%= f.submit "Send me reset password instructions" %></div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
