
<div class="row">
  <div class="span4 offset4 well">
    <h2>Sign in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name),
     class: "form-signin container") do |f| %>
      <div>
        <%= f.email_field :email, autofocus: true, 
          class: "form-control input-block-level", placeholder: :email%> 
      </div>
      <div>
        <%= f.password_field :password, autocomplete: "off",
          class: "form-control input-block-level", placeholder: :password %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "checkbox inline" %>
        </div>
      <% end -%>

      <div >
        <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>


