
<div class="row">
  <div class="span4 offset4 well">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control input-block-level" %></div>

      <div><%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", 
          class: "form-control input-block-level" %></div>

      <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", 
          class: "form-control input-block-level" %></div>

      <div><%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %></div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
