<div class="row">
  <div class="span4 offset4 well">
    <%= form_for @image, html: {multipart: true} do |f| %>
      <h4>Description</h4>
      <%= f.text_field :description %></br>
      <%= f.file_field :uploaded_image %>
      <p><%= f.submit :class => "btn btn-primary" %></p>
    <% end %>
    <div class='btn'><%= link_to "Back to List", images_path %></div>

  </div>
</div>
  
