
<table>
  <div class="row">
    <div class="span6 offset3">
      <% for image in @images %>
        <div class="well">
          <%= image_tag image.uploaded_image.url,height: '500', width: '500' %>
          <h2><%= image.description %></h2>
        </div>
      <% end %>
      <div class="btn"><%= link_to "New Image", new_image_path %></div></br>
      <div class="btn btn-alert"><%= link_to "Log out",destroy_user_session_path, method: "DELETE"%></div>
    </div>
  </div>
</table>


